
body{
    font-family: "Spectral", serif;
    font-weight: 400;
    color: black;
}
    
.Login{
        margin: auto;
        width: 50%;
        align-items: center;
        justify-content: center;
    }
